.content {
	width: 100%;
}

.content .container {
	width: 80%;
}

.page-header-dashboard h1 {
	display: inline;
}

.page-header-dashboard h4 {
	display: inline; 
	margin-bottom: 0px;
	margin-top: 20px;
}

.page-header-dashboard h4 small {
	font-size: 15px;
}

#notif {
	display: none;
}

.notif {
	display: none;
}

.tab_template .form-group {
	margin-right: 5px;
}

.list-group > div > .row:last-child {
	margin-top: 15px;
}

#ui-datepicker-div {
	font-size: 14px;
}

.cashflow_list {
	/*font-size: 14px;*/
}

.cashflow_list tbody tr td:nth-of-type(3) {
	width: 100px;
}